{% extends 'base.html.twig' %}

{% block title %}Créer une fiche contact{% endblock %}

{% block body %}
<section class="content-header">
    <div class="d-flex flex-row justify-content-between align-content-center w-100">
        <div class="content-header-title">
            <h1 class="title" style="margin: auto; width: 40vw;">
                Créer une fiche contact
            </h1>
        </div>
    </div>
</section>

<section id="main" class="content-body">
    {{ form_start(form) }}
    <div class="content-panel">
        <div class="content-panel-body with-background without-header without-footer">
            <div class="field-text form-group">
                <label for="Contact_department" class="form-control-label required">Département à contacter</label>
                <div class="form-widget">
                    {{ form_row(form.department, {'label': false, 'attr': {'style': 'width: 40vw;'}}) }}
                </div>
            </div>
            <div class="field-text form-group">
                <label for="Contact_nom" class="form-control-label required">Nom</label>
                <div class="form-widget">
                    {{ form_row(form.nom, {'label': false, 'attr': {'style': 'width: 40vw;'}}) }}
                </div>
            </div>
            <div class="field-text form-group">
                <label for="Contact_prenom" class="form-control-label required">Prénom</label>
                <div class="form-widget">
                    {{ form_row(form.prenom, {'label': false, 'attr': {'style': 'width: 40vw;'}}) }}
                </div>
            </div>
            <div class="field-text form-group">
                <label for="Contact_mail" class="form-control-label required">Email</label>
                <div class="form-widget">
                    {{ form_row(form.mail, {'label': false, 'attr': {'style': 'width: 40vw;'}}) }}
                </div>
            </div>
            <div class="field-textarea form-group">
                <label for="Action_message" class="form-control-label required">Message</label>
                <div class="form-widget">
                    {{ form_row(form.message, {'label': false, 'attr': {'style': 'width: 40vw;'}}) }}
                </div>
            </div>
            <div style="width: 40vw; margin: auto; margin-top: 5vh; display: flex">
                {{ form_row(form.save, {'attr': {'style': 'width: 10vw; ', 'class': 'btn btn-primary'}}) }}
                <button style="margin-left: 10px; width: 10vw" class="btn btn-danger" onclick="window.history.back();"
                    type="button">
                    <a style="color: white;">Annuler</a>
                </button>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</section>
{% endblock %}